<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <!-- 1) Declare your flags -->
  <!-- <xacro:arg name="use_sim"       default="true"/>
  <xacro:arg name="can_interface" default="vcan0"/>
  <xacro:arg name="steer_node_id" default="2"/>
  <xacro:arg name="motor_node_id" default="1"/>  -->

  <!-- 2) Core links/visuals etc -->
  <xacro:include filename="robot_core.xacro"/>

  <!-- 3) Simulation ros2_control -->
  <!-- <xacro:if value="$(arg use_sim)"> -->
    <!-- <xacro:include filename="ros2_control.xacro"/> -->
    <!-- if you want gazebo_control in sim, uncomment this too -->
    <!-- <xacro:include filename="gazebo_control.xacro"/> -->
  <!-- </xacro:if> -->

  <!-- 4) Real-hardware ros2_control -->
  <!-- <xacro:unless value="$(arg use_sim)"> -->
    <xacro:include filename="ros2_control_hardware.xacro"/>
  <!-- </xacro:unless> -->

  <!-- 5) Sensors, cameras, lidar, etc. -->
  <xacro:include filename="camera.xacro"/>
  <xacro:include filename="rgbdcamera.xacro"/>
  <xacro:include filename="sensors.xacro"/>
  <xacro:include filename="lidar.xacro"/>

</robot>
