<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

  <!-- ========================================================= -->
  <!-- Robot top-level URDF (robot.urdf.xacro)                    -->
  <!-- ========================================================= -->
  <!-- This file composes the robot from smaller xacro parts.     -->

  <!-- Core vehicle kinematic tree + visuals + collisions -->
  <xacro:include filename="robot_core.xacro"/>


  <!-- Control interface -->

  <!-- FOR SIMULATION -->
  <!-- <xacro:include filename="ros2_control.xacro"/> -->

  <!-- FOR REAL HARDWARE -->
  <xacro:include filename="ros2_control_hardware.xacro"/>



 <!-- Sensors, cameras, lidar, etc. --> 
  <xacro:include filename="camera.xacro"/>
  <xacro:include filename="rgbdcamera.xacro"/>
  <xacro:include filename="sensors.xacro"/>
  <xacro:include filename="lidar.xacro"/>


</robot>
