<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_link"/>
          <origin xyz="0.450 0 0.39137" rpy="0 0 0"/>
    </joint>

  <link name="imu_link"></link>

  <gazebo reference="imu_link">
    <sensor name="imu_sensor" type="imu">
      <gz_frame_id>imu_link</gz_frame_id>
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
    </sensor>
  </gazebo>

  <!-- FRONT GPS ANTENNA -->
  <joint name="gps_joint1" type="fixed">
        <parent link="chassis"/>
        <child link="gps_link1"/>
          <origin xyz="-0.1188 0 0.3924" rpy="0 0 0"/>
    </joint>

  <link name="gps_link1">
    <visual>
      <geometry>
        <cylinder radius="0.0625" length="0.085"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.0625" length="0.085"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="gps_link1">
    <sensor name="navsat1" type="navsat">
    <gz_frame_id>gps_link1</gz_frame_id>
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <topic>navsat1</topic>

    <noise type="gaussian">
      <mean>0.0</mean>
      <stddev>10</stddev>
    </noise>
     
    </sensor>
  </gazebo>


<joint name="gps_joint2" type="fixed">
        <parent link="chassis"/>
        <child link="gps_link2"/>
          <origin xyz="2.131 0 0.3924" rpy="0 0 0"/>
    </joint> 

  <link name="gps_link2">
   <visual>
      <geometry>
        <cylinder radius="0.0625" length="0.085"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.0625" length="0.085"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="gps_link2">
    <sensor name="navsat2" type="navsat">
    <gz_frame_id>gps_link2</gz_frame_id>
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <topic>navsat2</topic>

     
    </sensor>
  </gazebo>


</robot>
