# Ignore build and install artifacts
build/
install/
log/

# ROS2 local files
.DS_Store
*.pyc
*.swp
*.swo

# VSCode or JetBrains configs (optional)
.vscode/
.idea/
robot_localization_debug.txt
robot_localization_debug.txt
